.login-credentials {
  width: 25%;
  text-align: center;
  margin: 5% auto;
  background: #eee;
}
.dashboard {
  width: 90%;
  text-align: center;
  margin: 5% auto;
  background: #eee;
}
label,
input {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 100%;
}
.alertText {
  color: #000 !important;
}
.btn-customButton {
  border: 1px solid palevioletred !important;
  border-radius: 0px !important;
  padding: 5px 25px;
  font-family: "Open Sans", "Century Gothic", sans-serif;
  background: #fff;
  color: #000 !important;
}
h1.customTitle {
  color: palevioletred;
  font-family: "Open Sans", "Century Gothic", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 30px 0px;
}
