.footer {
  background: #fff;
  color: #000;
  padding: 30px 0 0;
  text-align: left;
  border-top: 1px solid #eee;
  width: 100%;
}

.footerlink .nav-link {
  padding: 15px 25px 0px 0px !important;
}
ul.quicklinks {
  list-style: none;
  padding: 0px;
}
ul.quicklinks li a {
  color: #000 !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  font-family: "Open Sans", "Century Gothic", sans-serif;
}
.copyright {
  text-align: center;
  padding: 12px 0px 0px !important;
  width: 100%;
}
.copyright p {
  color: #000 !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  font-family: "Open Sans", "Century Gothic", sans-serif;
}
.lowrow {
  margin-top: 10px;
}
