.carousel-indicators {
  display: none !important;
}
.sectionOne {
  border: 0 none !important;
}
a {
  color: palevioletred;
}
.btn-customButton {
  border: 1px solid #8dca0a !important;
  border-radius: 0px !important;
  padding: 5px 25px;
  font-family: "Open Sans", "Century Gothic", sans-serif;
  background-color: #8dca0a !important;
  color: #fff !important;
}
.card-group > .card {
  border: 0 none;
  margin: 0px 10px;
}
.image-container {
  background-image: rgba(0, 0, 0, 0.699) !important;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 35%;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-family: "Open Sans", "Century Gothic", sans-serif;
  text-align: left;
}
.carousel-caption h3 {
  font-size: 2.75rem !important;
}
.card-title {
  font-family: "Open Sans", "Century Gothic", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.big-title {
  font-family: "Open Sans", "Century Gothic", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.react-slideshow-container .nav {
  display: none;
}
.react-slideshow-container + div.indicators {
  display: none;
}
