.carousel-indicators {
  display: none !important;
}
.sectionOne {
  border: 0 none !important;
}
.btn-customButton {
  border: 1px solid palevioletred !important;
  border-radius: 0px !important;
  padding: 5px 25px;
}
.card-group > .card {
  border: 0 none;
  margin: 0px 10px;
}
.card-title {
  font-family: "Open Sans", "Century Gothic", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
